.footer-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: rgb(190, 49, 160);
  color: white;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: none;
  border: 1px solid #000;
}